@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

nav.navbar {
    padding: 0;
}

h1 {
    color: white;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

nav>div:first-child {
    width: 100%;
    height: 70px;
    background-color: rgb(58, 57, 57);
    padding-top: 30px;
}

nav>div:nth-child(2) {
    height: 70px;
    background-color: rgb(58, 57, 57);
}

nav>div:nth-child(3) {
    height: 70px;
    background-color: lightgray;
}

.d-flex>figure img {
    margin-top: 20px;
    width: 80px;
    margin: 0;
}

.titulo {
    align-items: center;
    justify-content: left;
    margin: 0;
}

main {
    height: 75vh;
    background-image: url('../img/3.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tareas {
    padding: 0.5rem;
}

p {
    margin: 0;
}

article {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0.5rem;
}

article:hover {
    background-color: darkslategray !important;
    color: white !important;
    transition: 1s;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}