@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


header {
    width: 100%;
    position: fixed;
    top: 0;
}

nav.navbar {
    padding: 0;
}

h1 {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

nav>div:first-child {
    width: 100%;
    height: 8vh;
    background-color: rgb(58, 57, 57);
    padding-top: 10px;
}

nav>div:nth-child(2) {
    height: 8vh;
    background-color: rgb(58, 57, 57);
    width: 100%;
    display: flex;
    padding-left: 0.75rem;
    align-items: center;
    justify-content: center;
}

#flex1 {
    width: 50%;
    padding: 0.2rem;
}

#flex2 {
    width: 50%;
    padding: 0.2rem;
}

nav>div:nth-child(3) {
    height: 8vh;
    background-color: lightgray;
}

.d-flex>figure img {
    padding-top: 10px;
    width: 70px;
    margin: 0;
}

.titulo {
    align-items: center;
    justify-content: left;
    margin: 0;
}

body {
    position: relative;
    padding-top: 24vh;
}

main {
    height: 100vh;
    background-image: url('../img/3.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

section#tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.5rem;
}

p {
    margin: 0;
}

article {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: calc(50% - 10px) !important;
}

article:hover {
    background-color: darkslategray !important;
    color: white !important;
    transition: 1s;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .urgente {
    background-color: lightcoral;
}
.diaria {
    background-color: lightblue;
}
.mensual {
    background-color: lightgreen;
} */

@media(max-width:945px) {
    body {
        position: relative;
        padding-top: 32vh;
    }

    nav>div:nth-child(2) {
        height: 16vh;
        flex-direction: column;
    }

    #flex1 {
        width: 100%;
    }

    #flex2 {
        width: 100%;
    }
}

@media(max-width:720px) {
    article {
        width: 100% !important;
    }


}